@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: rgb(212, 234, 255);
  --text-color: black;
  --link-color: rgb(56, 170, 190);
}

body.dark-mode {
  --background-color: #15152f;
  --text-color: white;
  --link-color: rgb(56, 170, 190);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth; /* Smooth scrolling */
}

p {
  color: var(--link-color);
}

.custom-card {
  height: 100%;
  margin: 1rem;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

/* Transition */

a,
.btn {
  transition: all 300ms ease; /* Transition for the links and buttons */
}

/* Navbar */

nav,
.nav-link {
  display: flex;
  color: aliceblue;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh; /* 17% of the viewport height */
}

.nav-links {
  gap: 2rem; /* Space between the links */
  list-style: none; /* Remove the bullet points */
  font-size: 1.3rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
  text-decoration-color: whitesmoke;
}

a:hover {
  color: rgb(56, 170, 190);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(56, 170, 190);
}

.logo {
  font-size: 1.7rem;
}

.logo:hover {
  color: rgb(56, 170, 190);
  cursor: default;
}

#dark-mode-icon {
  width: 26px;
  cursor: pointer;
  transition: filter 0.3s; /* Add a transition for a smoother effect */
}

#dark-mode-icon:hover {
  filter: drop-shadow(
    0 0 5px rgba(56, 170, 190, 0.7)
  ); /* Apply a drop-shadow effect */
}

.title {
  font-size: 3rem;
  text-align: center;
}

/* Icons */

.icon {
  cursor: pointer;
  height: 2rem;
  transition: filter 0.3s; /* Transition for the filter property for smoother effect */
}

.contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-icon {
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  margin-right: 10px;
}

.icon:hover {
  filter: drop-shadow(
    0 0 5px rgba(56, 170, 190, 0.7)
  ); /* Apply a drop-shadow effect */
}

.gg-frame {
  border: none;
  width: 100%;
  height: 340px;
}

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
