@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: rgb(212, 234, 255);
  --text-color: black;
  --link-color: rgb(56, 170, 190);
}

body.dark-mode {
  --background-color: #15152f;
  --text-color: white;
  --link-color: rgb(56, 170, 190);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth; /* Smooth scrolling */
}

p {
  color: var(--link-color);
}

.custom-card {
  height: 100%;
  margin: 1rem;
}

/* Transition */

a,
.btn {
  transition: all 300ms ease; /* Transition for the links and buttons */
}

/* Navbar */

nav,
.nav-link {
  display: flex;
  color: aliceblue;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh; /* 17% of the viewport height */
}

.nav-links {
  gap: 2rem; /* Space between the links */
  list-style: none; /* Remove the bullet points */
  font-size: 1.3rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
  text-decoration-color: whitesmoke;
}

a:hover {
  color: rgb(56, 170, 190);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(56, 170, 190);
}

.logo {
  font-size: 1.7rem;
}

.logo:hover {
  color: rgb(56, 170, 190);
  cursor: default;
}

#dark-mode-icon {
  width: 26px;
  cursor: pointer;
  transition: filter 0.3s; /* Add a transition for a smoother effect */
}

#dark-mode-icon:hover {
  filter: drop-shadow(
    0 0 5px rgba(56, 170, 190, 0.7)
  ); /* Apply a drop-shadow effect */
}

.title {
  font-size: 3rem;
  text-align: center;
}

/* Icons */

.icon {
  cursor: pointer;
  height: 2rem;
  transition: filter 0.3s; /* Transition for the filter property for smoother effect */
}

.icon:hover {
  filter: drop-shadow(
    0 0 5px rgba(56, 170, 190, 0.7)
  ); /* Apply a drop-shadow effect */
}

/* Skills Section */

.skill-icon {
  cursor: pointer;
  height: 6rem;
  padding: 4rem;
  transition: filter 0.3s; /* Transition for the filter property for smoother effect */
}

.skill-icon:hover {
  filter: drop-shadow(
    0 0 5px rgba(56, 170, 190, 0.7)
  ); /* Apply a drop-shadow effect */
}

.skill-details-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--background-color);
  text-align: center;
}

/* About Section */
#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.about-details-container {
  justify-content: center;
  flex-direction: column; /* The flex items will be stacked vertically */
}

.about-containers,
.about-details-container {
  display: flex;
}

.details-container {
  position: relative;
  width: 300px;
  height: 200px; /* Set a fixed height for the container */
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

* EXPERIENCE SECTION */ #experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

.article-container {
  background-size: contain;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
  padding: 20px;
  background-color: var(--background-color);
}

.project-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
  z-index: -1; /* Send the image to the background */
}

.project-sub-title {
  margin-top: 10px;
  font-size: 1.5rem;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding: 20px;
  background-color: var(--background-color);
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: rgb(56, 170, 190) 0.1rem solid;
  border-radius: 1rem;
  padding: 3rem;
  margin-bottom: 1.7rem;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

.gg-frame {
  border: none;
  width: 100%;
  height: 500px;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
