@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root variables */
:root {
  --background-color: rgb(212, 234, 255);
  --text-color: black;
  --link-color: rgb(56, 170, 190);
}

/* Dark mode */
body.dark-mode {
  --background-color: #15152f;
  --text-color: white;
}

/* Global styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

html {
  scroll-behavior: smooth; /* Smooth scrolling */
}

p {
  color: var(--link-color);
}

/* Navbar */
nav,
.nav-link {
  display: flex;
  color: aliceblue;
}

.navclass {
  display: flex;
  justify-content: right;
}

.nav-link {
  transition: transform 0.3s;
}

.nav-link:hover {
  color: rgb(56, 170, 190);
  transform: scale(1.1);
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh; /* 17% of the viewport height */
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: rgb(56, 170, 190);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(56, 170, 190);
}

/* Hero */
.hero-div {
  display: flex;
  justify-content: center;
}

.hero-btn {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
  margin-left: 4px;
  margin-right: 4px;
  padding: 0.7rem 2rem;
  transition: transform 0.3s;
}

.hero-btn:hover {
  transform: scale(1.1);
  background-color: rgb(56, 170, 190);
  color: rgb(0, 0, 0);
}

.lc-block {
  margin-top: 26rem;
}

h2,
.display-1 {
  transition: transform 0.3s;
}

h2:hover,
.display-1:hover {
  transform: scale(1.1);
  color: rgb(56, 170, 190);
  text-shadow: 0 0 12px rgba(56, 170, 190, 0.8);
}

/* About */
.about-div {
  color: var(--text-color);
  background-color: var(--background-color);
  border-radius: 2rem;
}

/* Icons */

.icon {
  cursor: pointer;
  height: 3rem;
  transition: filter 0.3s; /* Transition for the filter property for smoother effect */
  margin-left: 4px;
  margin-right: 4px;
  transition: transform 0.3s;
}

.icon:hover {
  filter: drop-shadow(
    0 0 5px rgba(56, 170, 190, 0.7)
  ); /* Apply a drop-shadow effect */
  transform: scale(1.1);
}

/* Skills */
.skill-main-div {
  display: flex;
  justify-content: center;
}

.skill-div {
  transition: transform 0.3s;
  cursor: default;
}

.skill-div:hover {
  transform: scale(1.1);
}

.skill-h3 {
  transition: transform 0.3s;
}

.skill-h3:hover {
  color: rgb(56, 170, 190);
  transform: scale(0.9);
  text-shadow: 0 0 12px rgba(56, 170, 190, 0.8);
}

/* Contact Info */
.contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Card hover effect */
.custom-card {
  height: 100%;
  margin: 1rem;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

/* NavLinks */
.logo {
  font-size: 2rem;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.nav-link {
  gap: 2rem; /* Space between the links */
  list-style: none; /* Remove the bullet points */
  font-size: 1.5rem;
}

/* Dark mode icon */
#dark-mode-icon {
  width: 26px;
  cursor: pointer;
  transition: filter 0.3s; /* Add a transition for a smoother effect */
}

#dark-mode-icon:hover {
  filter: drop-shadow(
    0 0 5px rgba(56, 170, 190, 0.7)
  ); /* Apply a drop-shadow effect */
}

/*For h1 title*/
.title {
  font-size: 3rem;
  text-align: center;
  transition: transform 0.3s;
}

.title:hover {
  color: rgb(56, 170, 190);
  transform: scale(1.1);
  text-shadow: 0 0 12px rgba(6, 61, 179, 0.8);
}

/* Transition */
a,
.btn {
  transition: all 300ms ease; /* Transition for the links and buttons */
}

/* Footer */
.gg-frame {
  border: none;
  width: 100%;
  height: 340px;
}

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

/* Project Cards */
.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  transition: transform 0.3s;
  height: 400px; /* Set a fixed height for the cards */
}

.project-card:hover {
  transform: scale(1.1);
}

.project-card .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.project-card .card-img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 10px 10px;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-card:hover .card-img-overlay {
  opacity: 1;
}

.project-card .project-title {
  font-size: 2rem;
  color: rgb(56, 170, 190);
  margin-bottom: 0.5rem;
}

.project-card .project-text {
  font-size: 1.25rem;
  color: white;
}

.project-card .hero-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  background-color: rgb(56, 170, 190);
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.1);
}
